:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-color: rgb(255, 241, 247);
  --motion-bar: #353430;
  --link: #353430;
  --updown-color: #ffc2e6;
  --mini-tittle-color: #353430;
  --bg-image: url(../images/cover-image-light.png);

  .indicator {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root.theme-light {
    --accent-color: #ff8dcb;
    --bg-color: rgb(255, 241, 247);
    --motion-bar: #353430;
    --link: #353430;
    --updown-color: #ffc2e6;
    --mini-tittle-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }
}
