:root {
  --accent-color: #ff0070;
  --motionBar: #ff0070;
  --link: #f1b2ce;
  --decor-color: #ff0070;
  --menu-color: #ff0070;
  --updown-color: #db00ff;
  --tittle-color: #ff0070;
  --mini-tittle-color: #000028;
  --content-color: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
  --font: "IBM Plex mono", sans-serif;
}
