:root {
  --accent-color: #ff0070;
  --bg-color: rgb(1, 0, 40);
  --motion-bar: #ff0070;
  --link: #f1b2ce;
  --updown-color: #db00ff;
  --mini-tittle-color: #000028;
  --font: "IBM Plex mono", sans-serif;
}
